<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231633947741-v9oh4rivcaad37r7bj4q510i7726t665.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231633947741-v9oh4rivcaad37r7bj4q510i7726t665</string>
	<key>API_KEY</key>
	<string>AIzaSyDv-H_kas7kkTwRCI1cavZuUNDSxymfrw4</string>
	<key>GCM_SENDER_ID</key>
	<string>231633947741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>white-wolf.MarketMall</string>
	<key>PROJECT_ID</key>
	<string>marketmall-3c349</string>
	<key>STORAGE_BUCKET</key>
	<string>marketmall-3c349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231633947741:ios:02e4c39a9193608005d1b4</string>
</dict>
</plist>